<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{PageTitle}}</title>
    <link rel="stylesheet" href="/css/{{style}}" />

</head>

<body>
    {{#if error}}
    <div id="errormsg">
        {{error}}
    </div>
    {{/if}}

    {{{body}}}
    <script type="text/javascript" src='/JS/{{js}}'>
    </script>
</body>

</html>