<div class="topnav">

  <div class="topnav-centered">
    <form action="/logTeach" method="post">
      <button type="text" id="home">Home</button>
    </form>
  </div>
  <div id="logout">
    <form action="/" method="post">
      <button id="logout-button" type="text">logout</button>
    </form>
  </div>
  <a onclick="history.back()">Back</a>
</div>

<div class="Gradetable">
  <div class="main">
    <table>
      <tr>
        <th>STUDENT</th>
        <th colspan="2">ASSIGNMENT 1</th>
        <th colspan="2">ASSIGNMENT 2</th>
        <th colspan="2">FINAL EXAM</th>
      </tr>
      <tr>
        <th></th>
        <th>Current</th>
        <th>New</th>
        <th>Current</th>
        <th>New</th>
        <th>Current</th>
        <th>New</th>
      </tr>
      <form id="editGradesForm" action="/editGrades" method="post">
      {{#each StudentInClass}}
      <tr>
        <td>{{u_id}}</td>
        <td>{{grade1}}</td>
        <td>
          <input form="editGradesForm" type="text" name="editGrade{{u_id}}"</input>
        </td>
        <td>{{grade2}}</td>
        <td>
          <input form="editGradesForm" type="text" name="editGrade{{u_id}}"</input>
        </td>
        <td>{{grade3}}</td>
        <td>
          <input form="editGradesForm" type="text" name="editGrade{{u_id}}"</input>
        </td>
      </tr>
      <input form="editGradesForm" type="hidden" name="editGrade{{u_id}}" value="{{u_id}}"></input>
      {{/each}}
      </form>
    </table>
  </div>
</div>

<div class="EditOptions">
    <button id="editGrades-button" type="text" form="editGradesForm">Save</button>
</div>